$main-pc-blue: #2B6A97;
$main-pc-light-blue: #7AC2F5;
$main-pc-sky-blue: #4A93C7;
$main-pc-dark-blue: #194564;
$main-pc-blue-black: #0A1924;

$main-sc-purple: #3F39A4;
$main-sc-lavender: #8C86F6;
$main-sc-violet: #5F58D0;
$main-sc-deep-purple: #26226C;
$main-sc-purple-black: #0F0E27;

$main-sc2-green: #28A95C;
$main-sc2-light-green: #73F7A8;
$main-sc2-tree-green: #46D37F;
$main-sc2-deep-green: #16703A;
$main-sc2-green-black: #0A2816;