.pic-and-welcome-wrap {
  display: flex;
  flex-direction: row;
  margin: 5vw;
  color: $main-sc2-green;
  text-shadow: -2px 2px $main-sc2-deep-green;
  font-size: 7vw;
  font-family: $signature-font;

  .welcome-image {
    height: 100px;
    border-radius: 75px;
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  }

  .spacer-25px {
    width: 25px;
  }

  .welcome-text {
    align-self: center;
  }
}